.sebm-google-map-container {
  height: 100%;
}

.details-box {
  max-width: calc(100% - 1em);
  position: absolute;
  top: 4em;
  left: 0.5em;
  width: 100%;
  box-sizing: border-box;
}

.details-box__content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.input-container {
  width: 48%;
}

.input {
  width: 90%;
  box-sizing: border-box;
}

@media(min-width:37.5em) {
  .details-box {
    max-width: 20em;
    top: 5em;
  }
}
