.login {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.login__overlay {
  background-color: #444;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
}

.login__buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.google-login-button {
  background-image: url('/assets/btn_google_signin_dark_normal_web@2x.png');
  background-size: 192px 47px;
  width: 185px;
  height: 40px;
  text-indent: -9999px;
  background-position: -3px -3px;
}

.facebook-login-button {
  background-color: #4267b2;
  color: #fff;
  width: 185px;
  height: 40px;
  margin-top: 1em;
}
