<div class="login">
  <div class="login__overlay"></div>
  <md-card>
    <md-card-header>
      <md-card-title>
        <h1>Login</h1>
      </md-card-title>
      <md-card-subtitle>You must be logged in to use the application</md-card-subtitle>
    </md-card-header>
    <md-card-content class="login__buttons">
      <button class="google-login-button" md-button (click)="login()">LOGIN</button>
      <button class="facebook-login-button" md-button (click)="loginWithFacebook()">Log in With Facebook</button>
    </md-card-content>
  </md-card>
</div>
