<md-nav-list dense>
  <md-list-item *ngFor="let device of devices" (click)="selectDevice(device)">
    <img md-list-avatar [src]="'https://api.adorable.io/avatars/128/'+device.name" alt="">
    <span md-line>{{device.name}}</span>
    <span md-line>{{device.address}}</span>
    <span md-line>{{device.date | date:'medium'}}</span>
    <button md-icon-button [mdMenuTriggerFor]="menu" (click)="setActiveItem($event, device.id)">
      <md-icon>more_vert</md-icon>
    </button>
  </md-list-item>
</md-nav-list>
<md-menu #menu="mdMenu">
  <a [routerLink]="['edit', activeItem]" md-menu-item>
    <md-icon>edit</md-icon>Edit</a>
  <button md-menu-item (click)="deleteDevice(activeItem)"><md-icon>delete</md-icon>Delete</button>
</md-menu>
