<div class="wrapper">
  <div class="overlay"></div>
  <form name="addDeviceForm" (ngSubmit)="addDeviceForm.form.valid && addDevice()" #addDeviceForm="ngForm">
    <md-card class="content">
      <md-card-header>
        <md-card-title>Add device</md-card-title>
        <md-card-subtitle>Fill in the form to add a new device</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div>
          <md-input-container>
            <input mdInput placeholder="Name" [(ngModel)]="device.name" name="name" required minlength="3">
          </md-input-container>
        </div>
        <div class="icon-select">
          <md-select placeholder="Icon" [(ngModel)]="device.icon" name="icon" required>
            <md-option value="boy">Boy</md-option>
            <md-option value="car">Car</md-option>
            <md-option value="cat">Cat</md-option>
            <md-option value="dog">Dog</md-option>
            <md-option value="girl">Girl</md-option>
            <md-option value="lion">Lion</md-option>
            <md-option value="man">Man</md-option>
            <md-option value="woman">Woman</md-option>
          </md-select>
          <img class="icon" [src]="'assets/icons/' + device.icon + '.png' || ''" [alt]="device.icon">
        </div>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button color="primary" [disabled]="buttonDisabled">ADD DEVICE</button>
        <a md-button routerLink="/">CANCEL</a>
      </md-card-actions>
    </md-card>
  </form>
</div>
