<md-toolbar color="primary" class="toolbar__wrapper">
  <div class="toolbar">
    <div class="toolbar__title">
      <img class="toolbar__logo" src="assets/logo.png" alt="Logo">
      <span>Location services</span>
    </div>
    <div class="toolbar__account">
      <span class="toolbar__name">{{(user | async)?.displayName || (user | async)?.email}}</span>
      <button md-icon-button [mdMenuTriggerFor]="logoutMenu" *ngIf="(user | async)?.uid">
        <img [src]="(user | async)?.photoURL || 'assets/user_avatar.png'" height="32" class="toolbar__avatar">
      </button>
    </div>
  </div>
</md-toolbar>
<md-menu #logoutMenu [overlapTrigger]="false">
  <span md-menu-item>
      <md-icon>account_circle</md-icon>{{(user | async)?.displayName || (user | async)?.email}}
    </span>
  <a md-menu-item routerLink="about">
    <md-icon>info</md-icon>About
  </a>
  <md-divider></md-divider>
  <button md-menu-item (click)="logout()"><md-icon>exit_to_app</md-icon>Logout</button>
</md-menu>
<router-outlet></router-outlet>
