.sebm-google-map-container {
  height: 100%;
}

.routes-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.toolbar__account,
.toolbar__title {
  display: inline-flex;
  align-items: center;
}

.toolbar__menu {
  margin-right: 1em;
}

.toolbar__wrapper {
  position: fixed;
  top: 0;
  z-index: 1;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.toolbar__avatar {
  border-radius: 50%;
  display: inline-block;
}

.toolbar__name {
  font-size: 0.85em;
  padding-left: 0.5em;
}

.devices-list {
  max-width: 20em;
  position: absolute;
  top: 5em;
  left: 0.5em;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  max-height: calc(100vh - 7em);
  overflow: auto;
}
